@import url(movie-detailed.css);
@import url(movie-overview.css);
@import url(showings.css);
@import url(booking-confirmation.css);

:root {
	--header-height: 40vh;
}

.nav-btn {
	color: black;
	border-radius: 5px;
	background-color: hsl(194, 63%, 70%);
	padding: 10px;
}
a {
	text-decoration: none;
}

.nav-btn:hover {
	background-color: hsl(194, 63%, 60%);
	cursor: pointer;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

#content {
	margin-top: 65px;
}
.input{
	border-radius: 8px;
	padding-left: .5rem;
}
.login-btn{
	background-color: black;
	color: white	;
	border-radius: 8px;
}
