@import url(movie-detailed.css);
@import url(movie-overview.css);
@import url(showings.css);

:root {
	--header-height: 40vh;
}

#hero-container {
	position: relative;
	min-height: fit-content;
}

.nav-btn {
	color: black;
	border-radius: 5px;
	background-color: hsl(194, 63%, 70%);
	padding: 10px;
}
a {
	text-decoration: none;
}

.nav-btn:hover {
	background-color: hsl(194, 63%, 60%);
	cursor: pointer;
}
